:root {
    --main-bg-color: #F69F1D;
    --secondary-bg-color: #207FEE;
    box-sizing: border-box;
}

html, button, input, p  {
    font-family: Inter, serif;
    font-size: 24px;
}

body {
    height: 100vh;
    overflow: hidden;
    padding: 80px;
}

body:has(.log-box) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.column-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
    margin-bottom: 2%;
}

.log-box {
    border: solid 1px black;
    height: 50%;
    padding: 10% 5%;
    overflow-y: auto;
}

form label {
    display: none;
}

.log-box form button {
    margin-top: 10%;
}

.btn {
    border-radius: 8px;
    color: white;
    padding: 14px 24px;
    border: none;
    font-weight: bold;
    background-color: var(--secondary-bg-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

input, select {
    border: solid 1px #E0E0E0;
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 10%;
}

.log-input {
    font-weight: bold;
    color: #828282;
    width: 70%;
}
/* header nav */
nav {
    margin: 0;
    color: black;
}

/* page transfer */
.header, nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    margin-left: 48px;
}

table, tr {
    width: 100%;
    border-top: solid 1px #E0E0E0;
    text-align: left;
}

.amount-input {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.amount-input input {
    width: 100px;
    height: 50px;
    padding-left: 10px;
}

.amount-input span {
    position: absolute;
    left: 30px;
    pointer-events: none;
}

.message {
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 5px;
    font-weight: bold;
}
.message.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}
.message.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}