/* VARIABLES */
:root {
    --main-color: #F69F1D;
    --secondary-color: #1D76DB;
    --neutral-color: #E0E0E0;
    --font-family: 'Inter', serif;
    --success-border: #c3e6cb;
    --error-bg: #f8d7da;
}

/* REINITIALISATION DE BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, button, input, p, select {
    font-size: 24px;
    font-weight: 400;
}

body {
    font-family: var(--font-family);
    height: 100vh;
}

main {
    height: 85%;
    padding: 2% 4%;
}

/* layout */
.h100 {
    height: 100%;
}

.column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-between-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.column-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row-between-start {
    display: flex;
    justify-content: start;
    align-items: center;
}

.row-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-bottom {
    align-self: flex-end;
}

/* logging and signing */

main:has(.log-box) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-box {
    border: solid 1px black;
    height: 75%;
    padding: 5% 2%;
    overflow-y: auto;
    scrollbar-width: thin;
}

.log-input {
    font-weight: bold;
    color: #828282;
    width: 75%;
    margin: 5%;
}

/* header and navigation */
nav {
    margin: 0;
    color: black;
}

.header, nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
}

header {
    height: 15%;
}

nav {
    width: 40%;
}

a {
    text-decoration: none;
    color: black;
}

.active-link {
    color: var(--secondary-color);
    font-weight: 700;
}

/* FORMULAIRES ET INPUTS */

.transfer-form label, .log-box form label {
    display: none;
}

.transfer-form {
    width: 100%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.transfer-form-input {
    height: 81px;
    width: 100%;
}

.transfer-form input[type=number]::-webkit-inner-spin-button, .transfer-form input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.transfer-form .btn {
    padding: 32px 37.5px;
    margin: 3%;
    font-size: 16px;
}

.btn {
    border-radius: 8px;
    color: white;
    padding: 14px 24px;
    border: none;
    font-weight: bold;
    background-color: var(--secondary-color);
    margin: 2%;
}

.primary-bg {
    background-color: var(--main-color);
}

.clickable {
    cursor: pointer;
}

input, select {
    border: solid 1px var(--neutral-color);
    border-radius: 8px;
    padding: 12px 16px;
    margin: 1%;
    background-color: white;
}

.dark-input, .dark-input::placeholder {
    color: black;
}

.amount-input {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.amount-input input {
    height: 150px;
    width: 120px;
    padding-left: 10px;
}

.amount-input input[type="number"]::-webkit-inner-spin-button {
    background-color: white;
    width: 30px;
}

.amount-input span {
    position: absolute;
    left: 30px;
    pointer-events: none;
}
.profile-form {
    width: 45%;
    height: 40%;
}

.profile-form input {
    border: none;
    display: flex;
}

.profile-form input::placeholder {
    color: black;
}

.profile-form span {
    color: var(--neutral-color);
}

.profile-form .row-between-start span:first-of-type {
    color: black;
}

.profile-form div div label {
    display: block;
    text-wrap: nowrap;
    font-weight: 600;
}

.profile-form .row-between-center {
    height: 180px;
    width: 230px;
}

.profile-form div div .row-between-start {
    padding-left: 16px;
}

.profile-form div div .row-between-start input {
    padding-left: 0;
}

#addBuddy input {
    margin-top:2%;
    width: 98%;
}

#addBuddy button {
    font-weight: 500;:
}

/* TABLEAU */
.transactions-list {
    border: 1px solid var(--neutral-color);
    border-radius: 8px;
    overflow: hidden;
    height: 60%;
}

table {
    width: 98%;
    overflow-y: auto;
    margin: 1%;
}

table caption, table th {
    font-weight: bold;
    text-align: left;
    padding: 1em;
}

table caption {
    padding-bottom: 0;
}

table td {
    padding: 1em;
    border-top: 1px solid var(--neutral-color);
}

/* Autres éléments */

.message {
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 8px;
    font-weight: bold;
}
.message.success {
    color: #10421C;
    background-color: #D7EEDE;
}
.message.error {
    color: #721c24;
    background-color: #f8d7da;
}