<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Pay My Buddy Connexion</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    </head>
    <body>
        <main>
            <div class="column-between-center log-box h100">
                <div class="btn primary-bg">Pay My Buddy</div>

                <form class="column-between-center h100" th:action="@{/login}" method="post">
                    <div class="column-center-center h100">
                        <label for="email">Mail</label>
                        <input class="log-input" type="email" id="email" name="email" placeholder="Mail" required/>

                        <label for="password">Mot de Passe</label>
                        <input class="log-input" type="password" id="password" name="password" placeholder="Mot de passe" />
                    </div>

                    <button class="btn clickable" type="submit">Se connecter</button>
                </form>

                <a th:href="@{/signin}"><small>Créer un compte</small></a>
            </div>
        </main>

    </body>
</html>