<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="header" th:fragment="navbar">
            <p>Pay my Buddy</p>
            <nav>
                <ul>
                    <li><a th:href="@{/transfer}">Transférer</a></li>
                    <li><a th:href="@{/profile}">Profil</a></li>
                    <li><a th:href="@{/new-buddy}">Ajouter relation</a></li>
                    <li><a th:href="@{/logout}">Se déconnecter</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>