<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay my Buddy - Profil</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header th:insert="~{nav}"></header>

<main class="column-center-center">
    <div th:if="${successMessage}" class="message success">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="message error">
        <p th:text="${errorMessage}"></p>
    </div>

    <form class="row-between-center h100 profile-form" th:action="@{/profile}" th:object="${user}" method="post">
        <div class="row-between-center h100">
            <div class="column-around h100">
                <label for="username">Username</label>
                <label for="email">Mail</label>
                <label for="password">Mot de passe</label>
            </div>
            <div class="column-around h100">
                <div class="row-between-start"><span>@</span><input type="text" name="username" id="username" size="1" th:value="*{username}"><span>></span></div>
                <input type="email" name="email" id="email" th:value="*{email}">
                <input type="password" name="password" id="password" placeholder="mot de passe">
            </div>
            <div class="column-around h100">
                <br>
                <span>></span>
                <span>></span>
            </div>
        </div>

        <button class="btn primary-bg item-bottom" type="submit">Modifier</button>
    </form>

</main>
</body>
</html>