<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay my Buddy - Transférer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
    <body>
        <header th:insert="~{nav}"></header>

        <main>
            <div th:if="${successMessage}" class="message success">
                <p th:text="${successMessage}"></p>
            </div>
            <div th:if="${errorMessage}" class="message error">
                <p th:text="${errorMessage}"></p>
            </div>

            <form class="transfer-form" th:action="@{/transfer}" method="post">
                <label for="buddyEmail">Sélectionner une relation</label>
                <select class="transfer-form-input" name="buddyEmail" id="buddyEmail" required>
                    <option class="dark-input" selected disabled>Sélectionner une relation</option>
                    <option class="dark-input" th:each="buddy : ${buddies}" th:value="${buddy.email}" th:text="${buddy.username}"></option>
                    <option class="dark-input" disabled th:if="${noBuddies}">Ajoutez d'abord quelques buddies !</option>
                </select>
                <label for="description" >Description</label>
                <input type="text" class="dark-input transfer-form-input" id="description" name="description" placeholder="Description" />
                <div class="amount-input">
                    <label for="amount">Montant (€)</label>
                    <input id="amount" class="dark-input" type="number" name="amount" min="0.00" step=".5" placeholder="0€" required />
                </div>

                <button class="btn" type="submit">Payer</button>
            </form>

            <div class="transactions-list">
                <table>
                    <caption>Mes Transactions</caption>
                    <thead>
                    <tr>
                        <th>Relations</th>
                        <th>Description</th>
                        <th>Montant</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="transaction : ${transactions}">
                        <td th:text="${transaction.getReceiver().getUsername()}">blabla</td>
                        <td th:text="${transaction.getDescription()}">blabla</td>
                        <td th:text="${transaction.getAmount()}">12€</td>
                    </tr>
                    </tbody>
                </table>
                <p th:if="${noTransactions}">Vous n'avez aucune transaction.</p>
            </div>


        </main>
    </body>
</html>